{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Newspaper list</h1>

    <a class="btn btn-success" href="{{ path('admin_newspaper_new') }}"> Create New </a>

    <table class="records_list table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Location</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_newspaper_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.image %}<img src="{{ entity.image|imagine_filter('thumb') }}">{% endif %}</td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.year }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('admin_newspaper_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ render(controller('AdminBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    <hr/>
    <a class="btn btn-success" href="{{ path('admin_newspaper_new') }}"> Create New </a>

{% endblock %}
