<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mikayel Ghazaryan">

    <title>{% block title %}{% endblock %}{% trans %}Repatriation_Museum{% endtrans %}</title>

    {% block stylesheets %}

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        {% stylesheets filter="scssphp" output="css/main.css"
        '@AppBundle/Resources/public/scss/*.scss'
        '@AppBundle/Resources/public/scss/main.scss'
        '@AppBundle/Resources/public/css/*.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="page-wrap">
    {% image output="/i/arrow.png" '@AppBundle/Resources/public/i/arrow.png' %}{% endimage %}
    <div class="container">
        <div class="header">
            <div class="hidden" id="searchbox">
                <gcse:search></gcse:search>
            </div>
            <div class="locale-switch">
                <a class="{% if app.request.locale == 'en' %}current-locale{% endif %}"
                   href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}) ) }}">english</a>
                <span class="separator">|</span>
                <a class="{% if app.request.locale == 'hy' %}current-locale{% endif %}"
                   href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'hy'}) ) }}">հայերեն</a>
                <br/>
                <a href="#" class="pull-right" id="searchswitch">{% trans %}menu.search{% endtrans %}</a>
                {#<span class="separator">|</span>#}
            </div>
            <div class="col-md-offset-1">
                <div class="logo">
                    <a href="{{ path('home') }}">
                        {% image output="/i/logo.png" "@AppBundle/Resources/public/i/logo.png" %}
                        <img src="{{ "/i/logo.png"|imagine_filter('logo') }}"/>
                        {% endimage %}
                    </a>
                </div>
                {#<h1 class="logo"><a href="{{ path('home') }}">{% trans %}Repatriation_Museum{% endtrans %}</a></h1>#}
            </div>
        </div>
        <br/>
        <nav class="main-menu-cont col-md-offset-3 row">
            <ul>
                <li><a href="{{ path('home') }}">{% trans %}menu.home{% endtrans %}</a></li>
                <li><a href="{{ path('history') }}">{% trans %}menu.history{% endtrans %}</a></li>
                <li class="submenu">{% trans %}menu.mard.title{% endtrans %}
                    <ul>
                        <li><a href="{{ path('lifestories') }}">{% trans %}menu.mard.all{% endtrans %}</a></li>
                        <li><a href="{{ path('remarkable') }}">{% trans %}menu.mard.remarkable{% endtrans %}</a></li>
                        <li><a href="{{ path('outlook') }}">{% trans %}menu.mard.outlook{% endtrans %}</a></li>
                    </ul>
                </li>
                <li class="submenu">{% trans %}menu.vault.title{% endtrans %}
                    <ul>
                        <li><a href="{{ path("newsarchive") }}">{% trans %}menu.vault.news{% endtrans %}</a></li>
                        <li><a href="{{ path("documents") }}">{% trans %}menu.vault.docs{% endtrans %}</a></li>
                        <li><a href="{{ path("articles") }}">{% trans %}menu.vault.articles{% endtrans %}</a></li>
                        <li><a href="{{ path("books") }}">{% trans %}menu.vault.books{% endtrans %}</a></li>
                        <li><a href="{{ path("photoarchive") }}">{% trans %}menu.vault.photo{% endtrans %}</a></li>
                        <li><a href="{{ path("videoarchive") }}">{% trans %}menu.vault.video{% endtrans %}</a></li>
                    </ul>
                </li>
                <li class="submenu">{% trans %}menu.persecution.title{% endtrans %}
                    <ul>
                        <li><a href="{{ path('page', {'slug': 'aksor'}) }}">{% trans %}
                                menu.persecution.exile{% endtrans %}</a></li>
                        <li><a href="{{ path('page', {'slug': 'brnachnshumner'}) }}">{% trans %}
                                menu.persecution.individuals{% endtrans %}</a></li>
                        <li><a href="{{ path('page', {'slug': 'pakhustner'}) }}">{% trans %}
                                menu.persecution.escapes{% endtrans %}</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('exhibition') }}">{% trans %}menu.exhibition{% endtrans %}</a></li>
                <li><a href="{{ path('news') }}">{% trans %}menu.news{% endtrans %}</a></li>
            </ul>
        </nav>
    </div>
    <!-- end content -->

    {% block banner %}
        {{ render(controller('AppBundle:Default:banner', {"tall":0} )) }}
    {% endblock %}

    {% block search %}
        <br/>
        <div class="container search">
            <form class="search-form" action="{{ path('repat_search') }}">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row searchDiv">

                            <div class="col-md-12 ">
                                <div class="presearch">փնտրիր նախնիներիդ</div>

                                <input name='lastname' type="text"
                                       placeholder="{% trans %}search.familyname{% endtrans %}" required="required"
                                       value="{{ app.request.get('lastname') }}">
                                <input name='firstname' type="text" placeholder="{% trans %}search.name{% endtrans %}"
                                       value="{{ app.request.get('firstname') }}">
                                <input name='year' type="number" min="1941" max="1949"
                                       placeholder="{% trans %}search.year{% endtrans %}"
                                       value="{{ app.request.get('year') }}">
                                <input type="submit" value="փնտրել"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br/>
        <br/>
    {% endblock %}

    {% block main %}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-9">
                            {% block body %}
                            {% endblock %}
                        </div>

                        <div class="col-md-3 sidebar">
                            {% block sidebar %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- end content -->

</div>
{% block footer %}

    <div class="foot">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="footerutyun">
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    <ul>
                                        <li class='bold'><a href="{{ path("page", { slug: "about-us"}) }}">{% trans %}
                                                menu.about{% endtrans %}</a></li>
                                        <li class='bold'><a href="{{ path("page", { slug: "kap"}) }}">{% trans %}
                                                menu.contacts{% endtrans %}</a></li>
                                        <li class='bold'><a href="{{ path("page", { slug: "links"}) }}">{% trans %}
                                                menu.links{% endtrans %}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li class='bold'><a href="{{ path('history') }}">{% trans %}
                                                menu.history{% endtrans %}</a></li>
                                        <li><a href="{{ path("history_slug", { slug: "1921-36"}) }}">1921-36</a></li>
                                        <li><a href="{{ path("history_slug", { slug: "1946-49"}) }}">1946-49</a></li>
                                        <li><a href="{{ path("page", { slug: "aksor"}) }}">1949</a></li>
                                        <li><a href="{{ path("page", { slug: "brnachnshumner"}) }}">1946-53</a></li>
                                        <li><a href="{{ path("history_slug", { slug: "1950-61"}) }}">1950-1961</a></li>
                                        <li><a href="{{ path("history_slug", { slug: "1962-82"}) }}">1962-82</a></li>

                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li class="bold">{% trans %}menu.mard.title{% endtrans %}</li>
                                        <li><a href="{{ path('lifestories') }}">{% trans %}
                                                menu.mard.all{% endtrans %}</a></li>
                                        <li><a href="{{ path('remarkable') }}">{% trans %}
                                                menu.mard.remarkable{% endtrans %}</a></li>
                                        <li><a href="{{ path('outlook') }}">{% trans %}
                                                menu.mard.outlook{% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                    <ul>
                                        <li class="bold">{% trans %}menu.vault.title{% endtrans %}</li>

                                        <li><a href="{{ path("newsarchive") }}">{% trans %}
                                                menu.vault.news{% endtrans %}</a></li>
                                        <li><a href="{{ path("documents") }}">{% trans %}
                                                menu.vault.docs{% endtrans %}</a></li>
                                        <li><a href="{{ path("articles") }}">{% trans %}
                                                menu.vault.articles{% endtrans %}</a></li>
                                        <li><a href="{{ path("books") }}">{% trans %}menu.vault.books{% endtrans %}</a>
                                        </li>
                                        <li><a href="{{ path("photoarchive") }}">{% trans %}
                                                menu.vault.photo{% endtrans %}</a></li>
                                        <li><a href="{{ path("videoarchive") }}">{% trans %}
                                                menu.vault.video{% endtrans %}</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li class="bold">{% trans %}menu.persecution.title{% endtrans %}</li>

                                        <li><a href="{{ path('page', {'slug': 'aksor'}) }}">{% trans %}
                                                menu.persecution.exile{% endtrans %}</a></li>
                                        <li><a href="{{ path('page', {'slug': 'brnachnshumner'}) }}">{% trans %}
                                                menu.persecution.individuals{% endtrans %}</a></li>
                                        <li><a href="{{ path('page', {'slug': 'pakhustner'}) }}">{% trans %}
                                                menu.persecution.escapes{% endtrans %}</a></li>

                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li class="bold"><a href="{{ path('exhibition') }}">{% trans %}menu.exhibition{% endtrans %}</a></li>
                                        <li class="bold"><a href="{{ path('news') }}">{% trans %}menu.news{% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 footer-logo">
                                {% image output="/i/fgglogo.png" '@AppBundle/Resources/public/i/FGG_logo.png' %}
                                <img src="{{ asset_url }}" class="fgg pull-left"/>
                                {% endimage %}
                                <div class="sponsorship">
                                {% trans %}sponsorship{% endtrans %}
                                </div>
                                <div class="doneby">
                                    {% trans %}doneby{% endtrans %}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    {% javascripts '@AppBundle/Resources/public/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

<script>
    $(document).ready(function () {
        $("#searchswitch").on('click', function (e) {

            var searchbox = $('#searchbox');

            if (searchbox.hasClass('hidden')) {
                searchbox.removeClass('hidden');
            } else {
                searchbox.addClass('hidden');
            }
        });
    });
</script>
<script>
    (function () {
        var cx = '003443073397999873464:o3zop3auyy4';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();

</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26352845-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>