{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Video list</h1>

    <a class="btn btn-success" href="{{ path('admin_video_new') }}"> Create New </a>

    <table class="records_list table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Slug</th>
            <th>Title</th>
            <th>File</th>
            <th>Link To Tube</th>
            <th>Is Published</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_video_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.file }}</td>
                <td><a target="_blank" href="{{ entity.linkToTube }}">{{ entity.linkToTube }}</a></td>
                <td>{{ entity.isPublished }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.type }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('admin_video_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ render(controller('AdminBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    <hr/>
    <a class="btn btn-success" href="{{ path('admin_video_new') }}"> Create New </a>

{% endblock %}
