{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Video</h1>

    <table class="records_list table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ entity.file }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description|raw }}</td>
            </tr>
            <tr>
                <th>Linktotube</th>
                <td>{{ entity.linkToTube }}
                    <div class='embed-container'>
                        <iframe src='{{ entity.linkToTube }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen
                                allowFullScreen></iframe>
                    </div>

                </td>
            </tr>
            <tr>
                <th>Ispublished</th>
                <td>{{ entity.isPublished }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
        </tbody>
    </table>

    <br/><br/>
    <ul class="record_actions list-group col-sm-6">
        <li class="list-group-item"><a class="btn btn-warning"
                                       href="{{ path('admin_video_edit', { 'id': entity.id }) }}"> Edit </a></li>
        <li class="list-group-item"><a href="{{ path('admin_video') }}" class="btn btn-default">Back to the list</a></li>
        <li class="list-group-item">{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
