{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article</h1>

    <table class="records_list table table-striped table-hover">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Annotation</th>
            <td>{{ entity.annotation|raw }}</td>
        </tr>
        <tr>
            <th>Issuu</th>
            <td>{{ entity.issuu|raw }}</td>
        </tr>
        <tr>
            <th>File</th>
            <td><a href="/{{ entity.file }}">{{ entity.file }}</a></td>
        </tr>
        </tbody>
    </table>

    <br/><br/>
    <ul class="record_actions list-group col-sm-6">
        <li class="list-group-item"><a class="btn btn-warning"
                                       href="{{ path('admin_article_edit', { 'id': entity.id }) }}"> Edit </a></li>
        <li class="list-group-item"><a href="{{ path('admin_article') }}" class="btn btn-default">Back to the list</a></li>
        <li class="list-group-item">{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
