{% if pages is defined and pages > 1 %}
<!-- PAGINATION -->
<div class="container pagination-bar no-padding-top text-center">
    <div class="col-md-9">
            <ul class="pagination">
                {% if page > 1 %}
                    {% set params = params|merge({ 'page':  - 1}) %}
                    <li><a class="prev" href="{{ path(path, params) }}">&laquo;</a></li>
                {% endif %}
                {% if page > 5 %}
                    {% set params = params|merge({ 'page': '1'}) %}
                    <li><a href="{{ path(path, params) }}">1</a></li>
                    <li><a href="#">...</a></li>
                {% endif %}
                {% for p in 1..pages %}
                    {% if loop.index > (page - 5) and loop.index < page + 5 %}
                        {% set params = params|merge({'page': p}) %}
                        <li {% if p == page %}class="active"{% endif %} ><a href="{{ path(path, params) }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page < pages - 5 and pages > 0 %}
                    <li><a href="#">...</a></li>
                    {% set params = params|merge({'page': pages}) %}
                    <li><a href="{{ path(path, params) }}">{{ pages }}</a></li>
                {% endif %}
                {% if pages > page %}
                    {% set params = params|merge({ 'page': page + 1}) %}
                    <li><a class="next" href="{{ path(path, params) }}">&raquo;</a></li>
                {% endif %}
            </ul>
    </div>
</div>
{% endif %}
