<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mikayel Ghazaryan">

    <title>{% block title %}Admin Հայրենադարձ{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        {% stylesheets '@AdminBundle/Resources/public/css/*.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
        {% if app.user.username is defined %}
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('admin_home') }}">Հայրենադարձ</a>
                    <a class="navbar-brand {% if app.request.locale == 'en' %}current-locale{% endif %}"
                       href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}) ) }}">[en]</a>
                    <a class="navbar-brand {% if app.request.locale == 'hy' %}current-locale{% endif %}"
                       href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'hy'}) ) }}">[hy]</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right gray_bg">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="true">Pages<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('admin_history') }}">History</a></li>
                                <li><a href="{{ path('admin_page') }}">Pages</a></li>
                                <li><a href="{{ path('admin_sidebar') }}">Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('admin_news') }}">News</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="true">Media <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('admin_video') }}">Video</a></li>
                                <li><a href="{{ path('admin_album') }}">Albums</a></li>
                                <li><a href="{{ path('admin_photo') }}">Photos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="true">Պահոց <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('admin_article') }}">Հոդվածներ</a></li>
                                <li><a href="{{ path('admin_book') }}">Գրքեր</a></li>
                                <li><a href="{{ path('admin_document') }}">Փաստաթղթեր</a></li>
                                <li><a href="{{ path('admin_newspaper') }}">Մամուլ</a></li>
                                <li><a href="{{ path('admin_newsarticle') }}">Մամուլի հոդվածներ</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('admin_repatriation') }}">Repatriation</a></li>
                        <li><a href="{{ path('admin_lifestory') }}">Life Stories</a></li>
                        <li><a href="{{ path('admin_text') }}">Homepage</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="true">Tools <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('admin_timeline') }}">Timeline</a></li>
                                <li><a href="{{ path('admin_tag') }}">Tags</a></li>
                                <li><a href="{{ path('admin_topic') }}">Topic</a></li>
                                <li><a href="{{ path('admin_user') }}">Users</a></li>

                            </ul>
                        </li>


                        {% if app.user.username is defined %}
                            <li><a href="{{ path('_auth_logout') }}" class="label signup_btn">Log out
                                    ({{ app.user.username }})</a></li>
                        {% else %}
                            <li><a href="{{ path('_auth_login') }}" class="label signup_btn">Log In</a></li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        {% endif %}
    </nav>

{% endblock %}

<br/>
<br/>
<br/>

<div class="container">
    <div class="col-sm-8 col-md-9">
        <br/>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Warning!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Great!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
    {% block body %}
    {% endblock %}
</div>

{% block footer %}
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <br/>
            <br/>
            <br/>
        </div>
        </div>
    </footer>
    <!-- /Footer -->
{% endblock %}

{% block javascripts %}


    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {#<script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>#}

    {% javascripts '@AdminBundle/Resources/public/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type="text/javascript">
        $(document).ready(function () {

            if ($('textarea').length) {
                $('textarea').redactor({imageUpload: '{{ path("admin_file_upload") }}'});
            }

            $('select').select2();

            {#if ($('textarea').length) {#}
            {#$('textarea').ckeditor({filebrowserUploadUrl: '{{ path("admin_file_upload") }}'});#}
            {#}#}

            if ($('.datepicker').length) {
                $('.datepicker').datetimepicker({
                    pickDate: true,                 //en/disables the date picker
                    pickTime: false,
                    showToday: true,                 //shows the today indicator
                    format: 'yyyy-mm-dd hh:ii:ss'
                });
            }

        });
    </script>
{% endblock %}

</body>
</html>