{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Repatriation list</h1>

    <form class="form form-horizontal" method="POST" action="{{ path('admin_repatriation_upload') }}"
          enctype="multipart/form-data">
        <input type="text" name="country" value="" />
        <input type="file" name="csv" />
        <input type="submit" name="upload" value="upload" class="btn btn-success">
    </form>
    <hr/>
    <table class="records_list table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Case/Page</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Last Name</th>
            <th>Family Status</th>
            <th>Family Member Count</th>
            <th>Birth Year</th>
            <th>In Year</th>
            <th>Ship</th>
            <th>From City</th>
            <th>From Country</th>
            <th>To Place</th>
            <th>Profession</th>
            <th>Other</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_repatriation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.case }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.secondname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.familyStatus }}</td>
                <td>{{ entity.familyMemberCount }}</td>
                <td>{{ entity.birthYear }}</td>
                <td>{{ entity.inYear }}</td>
                <td>{{ entity.ship }}</td>
                <td>{{ entity.fromCity }}</td>
                <td>{{ entity.fromCountry }}</td>
                <td>{{ entity.toPlace }}</td>
                <td>{{ entity.profession }}</td>
                <td>{{ entity.other }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_repatriation_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_repatriation_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ render(controller('AdminBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    <hr/>
    <a class="btn btn-success" href="{{ path('admin_repatriation_new') }}"> Create New </a>

{% endblock %}
