{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Repatriation</h1>

    <table class="records_list table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Case/Page</th>
                <td>{{ entity.case }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Secondname</th>
                <td>{{ entity.secondname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Familystatus</th>
                <td>{{ entity.familyStatus }}</td>
            </tr>
            <tr>
                <th>Familymembercount</th>
                <td>{{ entity.familyMemberCount }}</td>
            </tr>
            <tr>
                <th>Birthyear</th>
                <td>{{ entity.birthYear }}</td>
            </tr>
            <tr>
                <th>Inyear</th>
                <td>{{ entity.inYear }}</td>
            </tr>
            <tr>
                <th>Ship</th>
                <td>{{ entity.ship }}</td>
            </tr>
            <tr>
                <th>Fromcity</th>
                <td>{{ entity.fromCity }}</td>
            </tr>
            <tr>
                <th>Fromcountry</th>
                <td>{{ entity.fromCountry }}</td>
            </tr>
            <tr>
                <th>Toplace</th>
                <td>{{ entity.toPlace }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ entity.profession }}</td>
            </tr>
            <tr>
                <th>Other</th>
                <td>{{ entity.other }}</td>
            </tr>
        </tbody>
    </table>

    <hr/>
    <ul class="record_actions list-group col-sm-6">
        <li class="list-group-item"><a class="btn btn-warning"
                                       href="{{ path('admin_repatriation_edit', { 'id': entity.id }) }}"> Edit </a></li>
        <li class="list-group-item"><a href="{{ path('admin_repatriation') }}" class="btn btn-default">Back to the list</a></li>
        <li class="list-group-item">{{ form(delete_form) }}</li>
    </ul>

{% endblock %}
