{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Document list</h1>

    <a class="btn btn-success" href="{{ path('admin_document_new') }}"> Create New </a>

    <table class="records_list table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Slug</th>
            <th>Title</th>
            <th>Issuu</th>
            <th>file</th>
            <th>Link</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_document_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.issuu }}</td>
                <td>{{ entity.file }}</td>
                <td>{{ entity.link|slice(0,25) }}{% if entity.link|length > 25 %}...{% endif %}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('admin_document_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ render(controller('AdminBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    <hr/>
    <a class="btn btn-success" href="{{ path('admin_document_new') }}"> Create New </a>

{% endblock %}
