@import "vars";

$size: 16px;

.arrow {
  background-image: url("/i/arrow.png");
  background-repeat: no-repeat;
  background-size: $size / 1.5;
  background-position: center center;
  background-color: white;
  height: $size;
  width: $size;
  border-right: 2px solid $colorMain;
  float: right;
  position: relative;
  margin-top: $size/2;
  right: $size/2;
}

.arrow-no-border {
  border: none;
}

.arrow.arrow-down {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.arrow.arrow-up {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.arrow.arrow-left {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.news .arrow {
  margin-right: -8px;
}

.book .arrow {
  margin-right: ($size /2) - 3;
}

.lifestory {
  .arrow {
    margin-right: ($size /2) - 1;
  }
  .photostory.arrow {
    margin-right: -9px;
  }
}

ul.arrowstyle {
  margin-left: $size + 1;
  margin-top: 20px;
  padding: 0;
  list-style-image: url("/i/arrow.png");
}