@import "vars";

.banner {

  .l {
    border-right: 3px solid white;
    box-sizing: border-box;
    overflow: hidden;
    max-height: 100px;
    margin: 0;
    padding: 0;
  }

  .ltall {
    max-height: 350px;
  }
  .ltall img {
    height: 100%;
  }
  .l img {
    width: 100%;
  }

  .year {
    width: 100%;
    display: inline-block;
    color: #979373;
    font-size: 6pt;
    letter-spacing: 1pt;
    text-align: center;
  }

}