.banner {

  .bookmark {
    margin: 0;
    padding: 0;
    display: block;
    width: 98%;
    text-align: right;
    position: absolute;
    margin-left: -15px;
  }

  .deport,
  .repat {
    bottom: 5px;
  }

  .rehab ,
  .emigration {
    top: -15px;
  }
}