@import "vars";

section.book {
  .arrow {
    margin-top: -2px;
  }
  .row {
    margin-left: -20px;
  }
  .book {
    margin: 10px 20px;
    display: inline-block;
    width: 180px;
    clear: both;

  }
  .title, .author {
    font-size: 10pt;
    line-height: 11pt;
    margin-bottom: 10px;
  }
  .author {
    font-size: 9pt;
  }

  img {
    //width: 200px;
    @include shadow(3px, 3px, 5px, 0px);
    margin-bottom: 20px;
  }

  .text.prefix{
    font-size: 10pt;
    left: 20px;
  }
  .text.prefix::before {
    height: 40px;
    border-left: 12px solid lighten($colorMain, 20%);
    margin-top: 3px;
    margin-left: -20px;
  }

  .button {
    text-decoration: none;
    font-family: $fontMMArialBlack;
    display: block;
    text-transform: lowercase;
    width: 200px;
    height: 32px;
    line-height: 32px;
    color: $colorRedd;
    font-size: 11pt;
    padding-left: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcd9c5+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(left,  rgba(220,217,197,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(220,217,197,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(220,217,197,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcd9c5', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

  }
}
