@font-face {
  font-family: 'Arian AMU';
  src: url(/fonts/arnamu.ttf) format('truetype');
}

@font-face {
  font-family: 'MMARIAL';
  src: url(/fonts/mmarial_U_4.ttf) format('truetype');
}

@font-face {
  font-family: 'MMArialBlackUni';
  src: url(/fonts/MMArialUni-Black_2.ttf) format('truetype');
}

@font-face {
  font-family: 'Brock';
  src: url(/fonts/BROCK_1.TTF) format('truetype');
}

@font-face {
  font-family: 'MMBrock';
  src: url(/f/MMbrockuni_1.ttf) format('truetype');
}

@font-face {
  font-family: 'MMAdler';
  src: url(/fonts/MMadler_U_1.ttf) format('truetype');
}

@font-face {
  font-family: 'MM THICK';
  src: url(/f/MMTHICK_5.ttf) format('truetype');
}