@import "vars";

body > .container {
  overflow: hidden;
}

a:hover, a:active, a:visited,
a {
  text-decoration: none;
  color: $colorDark;
}

ol.breadcrumb {
  font-size: 8pt;
  background: none;
  text-transform: lowercase;
  margin: 0;
  padding: 0 0 10px 0;
}

ol.breadcrumb li:first-child::before {
  content: "";
}

ol.breadcrumb li::before {
  content: "|\00a0";
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px rgba(60, 60, 60, 0.6);
  -moz-box-shadow: 0px 0px 10px rgba(60, 60, 60, 0.6);
  box-shadow: 0px 0px 10px rgba(60, 60, 60, 0.6);
}

.pagination-bar {
  width: 100%;
  padding: 0;
  margin: 0;
}

ul.pagination {
  float: right;
  margin: 0;
  padding: 0;
}

ul.pagination li a,
ul.pagination li span {
  margin: 0 2px;
  color: white;
  border-radius: 0 !important;
  background-color: $colorLighter;
  border-color: $colorLighter;
}

ul.pagination > .active > a,
ul.pagination > .active > a:focus,
ul.pagination > .active > a:hover,
ul.pagination > .active > span,
ul.pagination > .active > span:focus,
ul.pagination > .active > span:hover {
  color: white;
  background-color: $colorMain;
  border-color: $colorMain;
}

.page {

  $prefix: 15px;
  h3 {
    font-size: 17pt;
    font-family: $fontAdler;
    color: transparentize($colorMain, 60%);
    position: relative;
    left: $prefix;
  }
  h3::before {
    content: "";
    border-left: 5px solid $colorLighter;
    height: 20px;
    margin-top: -2px;
    margin-left: -$prefix;
    display: inline-block;
    float: left;
  }

}

.columngap {
  padding: 4px;
}

.widecolumn {
  padding-right: 30px;
}

.paddingleft10 {
  display: inline-block;
  padding-left: 20px !important;
}

h3.titling,
h3.titling a {
  font-size: 11pt;
  line-height: 120%;
  margin: 16pt 0 6pt 0;
  font-family: $fontStack;
  text-transform: uppercase;
}

.filter {
  right: 20px;
  margin-top: -50px;
  position: absolute;
  z-index: 100;
}

.filter select,
.filter input {
  margin: 0;
  padding: 0;
  margin-right: 4px;
  display: inline-block;
  text-indent: 10px;
  line-height: 24px;
  height: 24px;
  font-size: 8pt;
  border: none;
  color: #979373;
  width: 100px;
  background-color: rgba(151, 147, 115, 0.10);
}

.filter input[type="submit"] {
  text-align: left;
  background-color: rgba(151, 147, 115, 0.35);
  color: white;
  width: 60px;
}