@import "vars";

div.header {
  height: 30px;
  line-height: 30px;
  margin: 0;
  margin-top: 20px;

  .logo {
    float: left;
    margin: 0;
    margin-top: -24px;
    margin-left: -22px;
    position: absolute;
    z-index: 40;
  }

  h1.logo a {
    color: rgba(151, 147, 115, 0.55);
    text-decoration: none;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: normal;
    text-indent: -5px;
  }

  .locale-switch {
    position: relative;
    z-index: 60;
    margin: -10px;
    margin-right: -16px;
    float: right;
    font-size: 7pt;
    letter-spacing: 1px;
    line-height: 20px;
  }

  .locale-switch a {
    color: #979373;
    text-decoration: none;
  }

  .locale-switch a:hover {
    color: red;
    text-decoration: underline;
  }

  .locale-switch a.current-locale:hover,
  .locale-switch a.current-locale {
    color: #979373;
    text-decoration: underline;
    cursor: default;
  }

  .locale-switch .separator {
    color: red;
  }

}