@import "vars";

.history {

  .middle {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .historyNavCont {
    width: 1400px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }

  .up {
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .down {
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;

  }

  .fullcircle {
    width: 60px;
    height: 600px;
    margin: 0;
    background-color: white;
    z-index: 100;
    padding-top: 55px;
  }

  .fullcircle.left {
    position: absolute;
    left: 0;
  }
  .fullcircle.right {
    position: absolute;
    right: 0;
  }

  .image {
    display: block;
    height: 100px;
  }
  .image img {
    position: relative;
    float: left;
    @include shadow(0px, 0px, 6px, 0px);

  }

  $colorHover: darken($colorRed, 8%);

  ul.historyNav {
    $height: 22px;
    $width: 100px;

    display: block;
    padding: 0;
    margin: 0;
    height: $height;
    margin-top: -$height;
    $halfHeight: $height / 2;

    li {
      list-style: none;
      float: left;
      text-decoration: none;
      display: block;
      padding: 0;
      margin: 10px;
      width: $width;
    }
    li a {
      @include shadow(1px, 1px, 5px, 0px);
      text-align: center;
      text-decoration: none;
      font-size: 9pt;
      font-family: $fontStack;
      font-weight: 900;
      letter-spacing: 1px;
      background: $colorRed;
      color: white;
      box-sizing: content-box;
      display: block;
      width: $width;
      margin: 10px;
      height: $height;
      line-height: $height;
      float: left;
    }

    li a:before {
      content: "";
      float: left;
      margin-left: -$halfHeight;
      border-top: $halfHeight solid $colorRed;
      border-bottom: $halfHeight solid $colorRed;
      border-left: $halfHeight solid transparent;
      border-right: none;
    }

    li a:after {
      content: "";
      float: right;
      margin-right: -$halfHeight;
      border-top: $halfHeight solid transparent;
      border-bottom: $halfHeight solid transparent;
      border-left: $halfHeight solid $colorRed;
      border-right: none;
    }

    li:first-child,
    li:first-child a,
    li:last-child a {
      //width: $width - 20px;
    }
    li:first-child a::before {
      border-width: 0;
    }
    li:last-child a::after {
      border-width: 0;
    }

    li a:hover {
      background: $colorHover;
    }
    li a:hover::before {
      border-color: $colorHover;
      border-left-color: transparent;
    }

    li a:hover::after {
      border-left-color: $colorHover;
    }

    .current,
    .current:hover {
      font-weight: bold;
      background: none;
    }

    .current::after,
    .current::before {
      content: normal;
    }
  }
}