@import "vars";

.homepage {

  .prefix {
    padding-right: 30px;
    font-size: 15pt;
    line-height: 20pt;
    font-family: $fontStack;
    margin: 0 0 5px 0;
  }
  .prefix.long {
    margin-bottom: 20px;
  }
  .prefix::before {
    margin-top: 3px;
  }
  .prefix.long::before {
    height: 100px;
    margin-top: 2px;
  }
  .prefix.prefix-narrow::before {
    border-left: 1px solid $colorMain;
  }

  h2.heading {
    background-color: $colorLighter;
    color: $colorWhite;
    font-family: $fontMMArialBlack;
    text-transform: lowercase;
    line-height: 27pt;
    font-weight: normal;
    font-size: 12pt;
    margin: 10px 0px;
    padding: 0 10px;
  }

  .button {
    font-size: 13pt;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-family: $fontStack;
    display: block;
    text-transform: lowercase;
    width: 100%;
    padding-left: 10px;
    color: $colorDark;
    letter-spacing: 1px;
    background-image: url(/i/h2button.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  img {
    max-width: 100%;
  }

}