@import "vars";

html, body {
  color: $colorMain;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

.row .row div {
  padding-left: 0;
}

//@media (max-width: 1599px) {
//  .container {
//    width: 1600px;
//  }
//}

.column {
  box-sizing: border-box;
  padding: 0 15px 0 0;
}

.column2 {
  display: block;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

$footerHeight: 100px;

.page-wrap {
  display: block;
  min-height: 100%;
  margin-bottom: -$footerHeight;
  overflow: hidden;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap:after {
  height: $footerHeight;
}

.foot {
  height: $footerHeight;
  text-align: center;

  .footerutyun {
    margin-top: 20px;
    padding-top: 10px;
    background-color: lighten($colorOrange, 16%);
    height: 120px;
    font-size: 8pt;
  }

  ul li {
    float: left;
    list-style: none;
    white-space: nowrap;
    line-height: 12px;
    text-transform: lowercase;
  }
  ul li,
  ul li a {

    font-family: $fontStack;
  }
  ul li.bold a,
  ul li.bold {
    font-weight: 600;
  }

  img.fgg {
    max-width: 90%;
    margin-left: 10px;
  }

  .sponsorship {
    color: $colorDark;
    text-transform: uppercase;
    font-size: 7px;
  }

  .doneby {
    float: left;
    margin-left: 10px;
    margin-top: 40px;
  }
}