@import "vars";

.lifestory {

  .mard .prefix::before {
    margin-top: 4px;
  }
  .prefix::before {
    border-color: lighten($colorDark, 20%);
  }

  h2.remarkable a {
    font-size: 10pt;
  }
  h2.remarkable {
    padding: 0;
    margin: 0;
    line-height: 10pt;
    margin-bottom: 10px;    
  }

  .text {
    padding-right: 30px;
  }
  .rintro {
    margin-top: 4px;
    font-size: 9pt;
    padding-right: 10px;
    display: inline-block;

  }

  h1.heading {
    font-family: $fontStack;
    font-weight: normal;
    font-size: 14pt;
    color: transparentize($colorMain, 30%);
    margin-bottom: 12px;
  }

  .photo {
    margin-top: 7px;
  }

  .shadowcover {
    $height: 50px;
    position: relative;
    top: -$height;
    height: $height;
    width: 100%;
    -moz-box-shadow: inset 0 -1 * $height $height -20px #ffffff;
    -webkit-box-shadow: inset 0 -1 * $height $height -20px #ffffff;
    box-shadow: inset 0 -1 * $height $height -20px #ffffff;
  }
  .bio {
    line-height: 14pt;
    font-size: 10pt;
    display: inline-block;
    overflow: hidden;
    max-height: 220pt;
  }

  .clickArr.arrow {
    float: left;
  }

  .clickArr {
    display: block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin: 0 auto;
  }

  .intro {
    margin-left: 15px;
    display: inline-block;
    margin-top: 4px;
    line-height: 11pt;
    color: $colorMain;
    font-size: 8pt;
  }

  $quoteMargin: 15px;
  .quote {
    font-size: 15pt;
    line-height: 20pt;
    font-family: $fontStack;
    left: $quoteMargin;
    margin: 0 0 30px 0;
  }
  .quote::before {
    content: "";
    border-left: 2px solid lighten($colorMain, 20%);
    //    font-size: 60px;
    //    font-weight: bold;
    height: 80px;
    line-height: 80px;
    margin-left: -$quoteMargin;
    display: inline-block;
    float: left;
  }
}
