@import "vars";

nav.main-menu-cont {

  $gap: 12px;
  $height: 16px;
  $subheight: $height * 1.4;
  $colorSubmenu: transparentize($colorMain, 40%);

  width: 100%;

  margin-top: 24px;
  margin-bottom: 8px;
  position: relative;
  z-index: 1000;

  ul {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    padding: 0;
    font-family: $fontStack;
    list-style: none;
    position: relative;
    text-align: center;
  }
  ul > li {
    height: $height;
    line-height: $height;
    color: $colorMain;
    display: inline-block;
    float: left;
    list-style: none;
    font-size: 8.5pt;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-indent: 1px;
  }

  ul > li a {
    font-weight: 400;
    color: $colorMain;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-indent: 1px;
  }

  & > ul > li:not(:first-child):before {
    float: left;
    content: ' | ';
    color: $colorSubmenu;
    display: inline-block;
    font-size: inherit;
    width: $gap;
    background-color: white;
  }

  & > ul > li.submenu:hover,
  & > ul > li a:hover,
  & > ul > li.active > a {
    background-color: $colorSubmenu;
    color: white;
  }

  li.submenu ul {
    width: 200px;
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    margin-left: $gap;
    overflow: hidden;
  }

  li.submenu ul > li {
    display: inline-block;
    float: left;
    width: 100%;
    height: $subheight;
    line-height: $subheight;
    background: $colorSubmenu;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  li.submenu ul li a {
    width: 100%;
    height: $subheight;
    line-height: $subheight;
    color: white;
    font-size: 7.5pt;
    display: inline-block;
    text-align: left;
    text-indent: $gap;
  }
  li.submenu ul a:hover {
    color: white;
    font-family: $fontMMArialBlack;
    background-color: transparent;
  }

  ul li.submenu:hover > ul {
    display: block;
  }
}
