@import "vars";

.news {

  .my-responsive {
    clear: both;
    max-width: 100%;
    width: 100%;
  }

}

.newsarchive {

  h3 a:hover {
    font-weight: bold;
  }
  .desc {
    margin-top: 10px;
    font-size: 9pt;
  }
}

.newspaper {

  .newsarticles {

    margin-bottom: 20px;

    .heading,
    .heading a {
      margin: 6px 0 3px 0;
      font-family: $fontStack;
      text-transform: uppercase;
    }

    .date {
      letter-spacing: 1px;
      font-size: 8pt;
      color: $colorMain;
    }

    .text {
      font-size: 10pt;
    }
  }
  h3 {
    margin: 0px 0 6px 0;
  }

}