@import "vars";

.photoarchive {

  h2.title {
    height: 50px;
  }

  .cont {
    margin-top: 13px;
  }
  .titling {
    text-transform: lowercase;
    margin-bottom: 13px;
    height: 32px;
  }

  .slick-slider {

    .slick-track {
      background-color: #000;

      .slick-slide img {
        min-height: 465px;
      }
      .slick-slide {
        opacity: 0.25;
      }
      .slick-current {
        opacity: 1;
      }

      .caption {
        padding: 5px;
        background-color: black;
        color: lighten($colorOrange, 16%);
        font-size: 8pt;
      }
    }

  }
}