@import "vars";

.search {

  //margin-top: 10px;

  .row .row > div {
    padding: 0;
  }

  .presearch {
    float: left;
    text-align: left;
    color: white;
    font-size: 8pt;
    line-height: 24px;
    height: 24px;
    background-color: $colorOrange;
    border: 1px solid darken($colorOrange, 10%);
    text-indent: 10px;
    width: 16%;
    margin-right: 4px;
  }

  .search-form input {
    margin: 0;
    padding: 0;
    display: block;
    text-indent: 10px;
    line-height: 24px;
    height: 24px;
    font-size: 8pt;
    border: none;
    color: #979373;
    width: 180px;
    background-color: rgba(151, 147, 115, 0.10);
    float: left;
    margin-right: 4px;
  }

  .search-form input[type="submit"] {
    text-align: left;
    background-color: rgba(151, 147, 115, 0.35);
    color: white;
    width: 10%;
  }
}

#searchbox {

  background-color: transparentize($colorLighter, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  height: 50px;
  overflow: hidden;
  padding-top: 3px;
  width: 100%;
  text-align: center;

  $height: 20px;
  .gsc-control-cse {
    width: 400px;
    margin: 0 auto;
    background: transparent;
    border: transparent;

    .gsc-input-box {
      line-height: $height !important;
      height: $height !important;
      padding: 0px;
      background-color: transparentize(white, 0.4) !important;
      border: none !important;
      margin-right: 0px;
      color: $colorLighter !important;
      margin-top: -12px;
    }
    .gsib_a {
      padding: 0 !important;
    }

    input.gsc-input {
      font-size: 10pt !important;
      line-height: $height !important;
      height: 20px !important;
      padding: 0 4px !important;
      color: $colorDark !important;
      background-color: transparent !important;
      background-image: none !important;
    }

    input.gsc-search-button-v2 {
      padding: 0 !important;
      background-color: transparentize($colorLighter, 0.5) !important;
      border: 6px solid transparentize($colorLighter, 0.5) !important;
      margin-top: -12px !important;
      color: $colorLighter !important;
      width: $height  !important;
      height: $height  !important;
      right: 13px;
      position: relative !important;
      border-radius: 0 !important;
    }

    .gs-result .gs-title b {
      color: $colorOrange !important;
    }
    .gs-result .gs-title {
      color: $colorMain !important;
      font-size: 19px !important;
      text-align: left !important;
    }
  }
}