@import "vars";

.sidebar {

  $colorFrom: transparentize($colorMain, 0%);
  $colorTo: transparentize($colorMain, 100%);

  h2 a, h3 a, h4 a, h5 a,
  h2, h3, h4, h5 {
    font-size: 13pt;
    height: 40px;
    text-decoration: none;
    font-family: $fontStack;
    display: block;
    text-transform: lowercase;
    width: 100%;
    line-height: 220%;
    padding-left: 10px;
    color: $colorDark;
    letter-spacing: 1px;
    background-image: url(/i/h2button.png);
    background-repeat: no-repeat;
    background-size: 100%;
//    background: -moz-linear-gradient(left, $colorFrom 0%, $colorTo 100%); /* FF3.6-15 */
//    background: -webkit-linear-gradient(left, $colorFrom 0%, $colorTo 100%); /* Chrome10-25,Safari5.1-6 */
//    background: linear-gradient(to right, $colorFrom 0%, $colorTo 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcd9c5', endColorstr='#007db9e8', GradientType=1); /* IE6-9 */

  }
}