@import "vars";

body {
  letter-spacing: normal;
  font-family: $fontStack;
}

a:hover, a:active, a:visited, a {
  color: $colorMain;
  font-weight: normal;
  text-decoration: none;
}

h1 {
  font-size: 17pt;
}

h2 {
  font-size: 15pt;
}

h3 {
  font-size: 13pt;
}

h1, h2, h3, h4, h5, h6 {
  color: $colorMain;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: lowercase;
  line-height: 100%;
  margin: 4px 0;
}

h1.adler, h2.adler, h3.adler, h4.adler, h5.adler, h6.adler,
h1.adler a, h2.adler a, h3.adler a, h4.adler a, h5.adler a, h6.adler a {
  color: transparentize($colorMain, 60%);
}

.adler {
  font-family: $fontAdler;
}

.arialBlack {
  font-family: $fontArialBlack;
}

.brock {
  font-family: $fontBrock;
}
.mmArialBlack {
  font-family: $fontMMArialBlack;
}

.mmBrock {
  font-family: $fontMMBrock;
}

.mmThick {
  font-family: $fontMMThick;
}
.text {
  font-size: 10pt;
  font-family: $fontStack;
}
.initial::first-letter {

  font-family: $fontMMBrock;
  float: left;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0;
  margin: -3px 4px -20px 0;
  font-size: 27pt;
  height: 100%;
  display: block;
  overflow: hidden;

}

$prefix: 15px;
.prefix {
  position: relative;
  left: $prefix;
}
.prefix::before {
  content: "";
  border-left: 5px solid $colorLighter;
  height: 20px;
  margin-top: -2px;
  margin-left: -$prefix;
  display: inline-block;
  float: left;
}
.prefix.prefix-down::before {
  margin-top: 6px;
}

.articles {

  margin-bottom: 20px;

  h3.titling,
  h3.titling a {
    font-size: 11pt;
    line-height: 120%;
    margin: 6pt 0 6pt 0;
    font-family: $fontStack;
    text-transform: uppercase;
  }

  .meta {
    letter-spacing: 1px;
    font-size: 8pt;
    color: $colorMain;
    text-transform: lowercase;
    margin: 6pt 0 6pt 0;
  }

  .text {
    font-size: 10pt;
  }
}

