$fontStack: "Arian AMU", "Arial Unicode MS", "Arial";
$fontMMBrock: "MMBrock";
$fontBrock: "Brock";
$fontAdler: "MMAdler";
$fontArialBlack: "Arial Black";
$fontMMThick: 'MM THICK', Impact;
$fontMMArialBlack: "MMArialBlackUni";

$colorMain: #979373;
$colorLighter: lighten(#979373, 25);
$colorDark: #5e573b;
$colorWhite: #ffffff;
$colorOrange: rgba(227, 164, 59, 0.75);
$colorRed: #d9232a;
$colorRedd: #B43130;

@mixin shadow($distance, $angle, $blur, $spread) {
  -webkit-box-shadow: $distance $angle $blur $spread rgba(0, 0, 0, 0.5);
  -moz-box-shadow: $distance $angle $blur $spread rgba(0, 0, 0, 0.5);
  box-shadow: $distance $angle $blur $spread rgba(0, 0, 0, 0.5);
}

@mixin rot($r) {
  -webkit-transform: rotate($r+deg);
  -moz-transform: rotate($r+deg);
  -ms-transform: rotate($r+deg);
  -o-transform: rotate($r+deg);
  transform: rotate($r+deg);
}