{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ i.name }} :: {% trans %}menu.mard.title{% endtrans %} {% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li>{% trans %}menu.mard.title{% endtrans %}</li>
        {% if i.remarkable %}
        <li><a href="{{ path('remarkable') }}">{% trans %}menu.mard.remarkable{% endtrans %}</a></li>
    {% elseif i.outlook %}
        <li><a href="{{ path('outlook') }}">{% trans %}menu.mard.outlook{% endtrans %}</a></li>
    {% else %}
        <li><a href="{{ path('lifestories') }}">{% trans %}menu.mard.all{% endtrans %}</a></li>
        {% endif %}
    </ol>

    <section class="lifestory">
        <div class="mard">
            <div class="col-md-4 ">
                <img src="{{ i.photo|imagine_filter('lifestory') }}" class="photo img-responsive"/>
            <span class="intro">
                {{ i.intro|striptags|raw }}
            </span>
            </div>
            <div class="col-md-8">
                <div class="prefix">
                    <h1 class="heading">{{ i.name }}</h1>
                    <div class="text bio">
                        {{ i.bio|raw }}
                    </div>
                    {% if i.bio|raw|length > 900 %}
                        <div class="clickArr arrow arrow-down arrow-no-border"></div>
                        <div class="shadowcover"></div>
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 quote">
                {{ i.quote|raw }}
            </div>

            <div class="col-md-4">
                {% if i.album and i.album.photos[0].photo %}
                    <a href="{{ path("photostory", { slug: i.album.slug }) }}">
                        <img src="{{ i.album.photos[0].photo|imagine_filter('lifestory') }}"
                             class="img-responsive"/>
                    </a>
                    <a href="{{ path("photostory", { slug: i.album.slug }) }}">
                        <div class="photostory arrow arrow-red"></div>
                    </a>
                {% endif %}
            </div>
            <div class="col-md-8">
                {% if i.video %}
                    {% set v = i.video %}
                    <div class='embed-container'>
                        <iframe src='{{ v.linkToTube }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen
                                allowFullScreen></iframe>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if (i.docs is defined and i.docs|length > 0)
                or i.links|length > 0
                or i.newsarticles|length > 0 %}

                    <ul class="arrowstyle">
                        {% for d in i.docs %}
                            <li>
                                {% if d.isbn is defined %}
                                    <a href="{{ path('book', {'slug': d.slug }) }}">{{ d.title }}</a>
                                {% elseif d.author is defined %}
                                    <a href="{{ path('article', {'slug': d.slug }) }}">{{ d.title }}</a>
                                {% else %}
                                    <a href="{{ path('document', {'slug': d.slug }) }}">{{ d.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% for n in i.newsarticles %}
                            <li><a href="{{ path('newsarticle', {'slug': n.slug }) }}">{{ n.title }}</a></li>
                        {% endfor %}
                        {% for l in i.links %}
                            <li><a href="{{ l }}" target="_blank">{{ l }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="clearfix">
            <a class="btn btn-primary btn-xs" href="{{ path('admin_lifestory_edit', { id : i.id }) }}">edit</a>
        </div>
    {% endif %}
    <br/>
    <br/>
{% endblock %}

{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "lifestory-"~i.name})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $(".clickArr").on('click', function (e) {
                var maxheight = $(".bio").css("max-height");
                if (maxheight == 'none') {
                    $(".shadowcover").show();
                    $(".clickArr").removeClass('arrow-up');
                    $(".bio").css("max-height", "210pt");
                } else {
                    $(".shadowcover").hide();
                    $(".clickArr").addClass('arrow-up');
                    $(".bio").css("max-height", "none");
                }

            });
        });
    </script>
{% endblock %}