{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.mard.title{% endtrans %} :: {% endblock %}

    {% block body %}
        <div class="col-md-12">
            <div class="prefix">
                <h1 class="adler">{% trans %}menu.mard.all{% endtrans %}</h1>
            </div>
            <div class="text">
                {% trans %}text.ppl.all{% endtrans %}
            </div>

            <div class="clearfix"></div>
            <br/>


            {% for i in stories %}
                <div class="col-md-1 columngap">
                    {% if i.photo %}
                        <a href="{{ path("lifestory", { slug: i.slug }) }}">
                            <img src="{{ i.photo|imagine_filter('lifestory_thumb') }}" class="img-responsive"/>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}

        </div>



    {% endblock %}


    {% block sidebar %}
        {{ render(controller("AppBundle:Default:sidebar", {'type': "lifestories"})) }}
    {% endblock %}