{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.mard.remarkable{% endtrans %} :: {% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li>{% trans %}menu.mard.title{% endtrans %}</li>
    </ol>
    <section class="lifestory">
        <div class="remarkable">

            <div class="adler prefix">
                <h1 class="adler">{% trans %}menu.mard.remarkable{% endtrans %}</h1>
            </div>
            <div class="text">
                {% trans %}text.ppl.remarkable{% endtrans %}
            </div>

        </div>
        <div class="clearfix"></div>
        <br/>
        {% for i in stories %}
            <div class="col-md-4 widecolumn">
                {% if i.photo %}
                    <a href="{{ path("lifestory", { slug: i.slug }) }}">
                        <img src="{{ i.photo|imagine_filter('lifestory_remarkable') }}" class="img-responsive"/>
                    </a>
                {% endif %}
                <div class="prefix prefix-down">
                    <a href="{{ path("lifestory", { slug: i.slug }) }}">
                        <div class="arrow arrow-red"></div>
                    </a>
                    <h2 class="remarkable"><a
                                href="{{ path("lifestory", { slug: i.slug }) }}">{{ i.name }}</a></h2>
                    <div class="rintro">{{ i.intro|raw }}</div>
                </div>
            </div>
            {% if loop.index is divisible by(3) %}<div class='clearfix'></div>{% endif %}
        {% endfor %}

    </section>

{% endblock %}


{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "remarkable"})) }}
{% endblock %}