{% extends '::base.html.twig' %}

{% block body -%}
    <h1>File list</h1>


    <a class="btn btn-success" href="{{ path('admin_file_new') }}"> Create New </a>

    <table class="records_list table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>File</th>
                <th>Path</th>
                <th>Mimetype</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_file_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.file }}</td>
                <td>{{ entity.path }}</td>
                <td>{{ entity.mimeType }}</td>
                <td>{{ entity.size }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_file_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_file_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ render(controller('AdminBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    <hr/>
    <a class="btn btn-success" href="{{ path('admin_file_new') }}"> Create New </a>

{% endblock %}
