{% extends '::base.html.twig' %}

{% block body -%}
    <h1>File creation</h1>

    {{ form(form) }}

    <hr />
    <a class="btn btn-default" href="{{ path('admin_file') }}"> Back to the list </a>

{% endblock %}
