<div class="history">

    <div class="visible-sm visible-xs clearfix">
        <ul class="historyNav">
            <br/><br/>
            <li><a href="#"></a></li>
            <li class="hidden-xs"><a href="#"></a></li>
            {% for i in 0..7 %}
                {% if pages[i] is defined %}
                    {% set p = pages[i] %}
                    {% if '19' in p.slug %}
                        <li>
                            {% if p.link %}
                                <a href="{{ p.link }}"
                                   id="{{ p.slug }}"
                                   onmouseover="$(this).html('{{ p.title }}')"
                                   onmouseout="$(this).html('{{ p.slug }}')"
                                   href="{{ p.link }}">{{ p.slug }}</a>
                            {% else %}
                                <a href="{{ path('history_slug', {'slug': p.slug}) }}">{{ p.title }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li><a href="#"></a></li>
            <li class="hidden-xs"><a href="#"></a></li>
        </ul>
    </div>
    <div class="hidden-sm hidden-xs">

        <div class="fullcircle left">
            {% image output="/i/fullcircleleft.png" '@AppBundle/Resources/public/i/fcleft.png' %}
            <img src="{{ asset_url }}" class="img-responsive"/>
            {% endimage %}
        </div>
        <div class="fullcircle right pull-right">
            {% image output="/i/fullcircleright.png" '@AppBundle/Resources/public/i/fcright.png' %}
            <img src="{{ asset_url }}" class="img-responsive"/>
            {% endimage %}
        </div>
        <div class="middle">
            <div class="historyNavCont">
                {% image output="/i/historyUp.png" '@AppBundle/Resources/public/i/historyUp.png' %}
                <div class="up" style="background-image: url({{ "/i/historyUp.png" }})">&nbsp;</div>
                {% endimage %}
                {% set fin = 11 - pages|length %}
                <ul class="hidden-sm historyNav">
                    {% for j in 0..fin %}
                    {% if j == (fin/2)|round(0, 'floor') %}
                        {% for i in 0..pages|length - 1 %}
                        {% set p = pages[i] %}
                            {% if p is not null and '19' in p.slug %}
                            <li>
                                {% if p.link %}
                                    <a href="{{ p.link }}" id="{{ p.slug }}" onmouseover="$(this).html('{{ p.title }}')" onmouseout="$(this).html('{{ p.slug }}')" href="{{ p.link }}">{{ p.slug }}</a>
                                {% else %}
                                    <a href="{{ path('history_slug', {'slug': p.slug}) }}">{{ p.title }}</a>
                                {% endif %}
                            </li>    
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if j == 0 or j == fin - 1 or j == fin %}
                        <li class=""><a href="#"></a></li>
                    {% else %}
                        <li class="visible-lg hidden"><a href="#"></a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if not half %}
                    {% image output="/i/historyDown.png" '@AppBundle/Resources/public/i/historyDown.png' %}
                    <div class="down" style="background-image: url({{ "/i/historyDown.png" }})">&nbsp;</div>
                    {% endimage %}
                {% else %}
                    <br/>
                {% endif %}
            </div>
        </div>
    </div>
</div>
