{% extends 'AppBundle::base.html.twig' %}

    {% block banner %}
        {% include 'AppBundle:history:banner.html.twig' with {'half': true, 'album': album, 'pages': pages} %}
    {% endblock %}

    {% block body %}

        {% if page is not null %}
            {% if page.body|length > 50 %}
                <h1 class="prefix adler">{{ page.title }}</h1>
                <br />
                {{ page.body|raw }}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="clearfix">
                        <a class="btn btn-primary btn-xs" href="{{ path('admin_history_edit', { id : page.id }) }}">edit</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block sidebar %}

        {% for v in page.video %}
            <h3>{{ v.title }}</h3>
            <div class='embed-container'>
                <iframe src='{{ v.linkToTube }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen
                        allowFullScreen></iframe>
            </div>
            <br />
        {% endfor %}

        {{ render(controller("AppBundle:Default:sidebar", {'type': "history"~page.title})) }}

    {% endblock %}
