{% extends 'AppBundle::base.html.twig' %}

    {% block title %}{% trans %}history{% endtrans %} :: {% endblock %}

    {% block banner %}
        {% include 'AppBundle:history:banner.html.twig' with {'half': false, 'album': album, 'pages': pages} %}
    {% endblock %}

    {% block body %}
        {% if page is not null %}
            {% if page.body|length > 50 %}
                <h1 class="prefix adler">{{ page.title }}</h1>
                <br />
                {{ page.body|raw }}
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block sidebar %}{% endblock %}

{#
    {% block javascripts %}
        {{ parent() }}

        <script>
            function rand(min, max) {
                return Math.floor(Math.random() * (max - min) + min) + 1;
            }
            function sign() {
                return Math.round(Math.random()) * 2 - 1;
            }

            $(document).ready(function () {

                var cTop = document.getElementById("topCanvas");
                var cTopx = cTop.getContext("2d");
                cTopx.canvas.width = 1150;
                cTopx.canvas.height = 150;

                $(".top img").each(function (index, img) {

                    var r = rand(-15, 15);
                    var h = rand(0, 30);
                    if (img.width > img.height) {
                        var offsetX = index * img.width + img.width / 2;
                    } else {
                        var offsetX = index * img.width + img.width;
                    }
                    var rotate = "rotate(" + sign() * r + "deg)";

                    $(img).css(
                            {
                                "-webkit-transform": rotate,
                                "-moz-transform": rotate,
                                "-ms-transform": rotate,
                                "-o-transform": rotate,
                                "top": h + "px"
                            }
                    );

                    cTopx.moveTo(offsetX + sign() * rand(0, 20), 0);
                    if (index == 7) {
                        cTopx.lineTo(offsetX + -30, 300);
                    } else {
                        cTopx.lineTo(offsetX + sign() * rand(0, 20), 300);
                    }

                    cTopx.strokeStyle = "#d9232a";
                    cTopx.lineWidth = 2;
                    cTopx.stroke();


                });

                var cBot = document.getElementById("bottomCanvas");
                var cBotX = cBot.getContext("2d");
                cBotX.canvas.width = 1150;
                cBotX.canvas.height = 150;

                $(".bottom img").each(function (index, img) {


                    var r = rand(-15, 15);
                    var h = rand(0, 30);
                    if (img.width > img.height) {
                        var offsetX = index * img.width + img.width / 2;
                    } else {
                        var offsetX = index * img.width + img.width;
                    }

                    var rotate = "rotate(" + sign() * r + "deg)";

                    console.log(offsetX + ": " + img)

                    $(img).css(
                            {
                                "-webkit-transform": rotate,
                                "-moz-transform": rotate,
                                "-ms-transform": rotate,
                                "-o-transform": rotate,
                                "top": h + "px"
                            }
                    );

                    cBotX.moveTo(offsetX, 0);

                    if (index == 16) {
                        cBotX.lineTo(offsetX - 30, 300);
                    } else {
                        cBotX.lineTo(offsetX + sign() * rand(0, 20), 300);
                    }

                    cBotX.strokeStyle = "#d9232a";
                    cBotX.lineWidth = 2;
                    cBotX.stroke();


                });


            });

        </script>
    {% endblock %}
#}