{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Location list</h1>

    <a class="btn btn-success" href="{{ path('admin_location_new') }}"> Create New </a>

    <table class="records_list table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_location_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.lat }}</td>
                <td>{{ entity.lon }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('admin_location_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ render(controller('AdminBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    <hr/>
    <a class="btn btn-success" href="{{ path('admin_location_new') }}"> Create New </a>

{% endblock %}
