<div class="banner container hidden-sm hidden-xs">

    <div class="row">
        {% for i in album.photos %}
            <div class="col-md-1">
                {% if loop.index0 == 1 %}
                    <div class="bookmark repat">
                        {% image output="/i/repat.png" '@AppBundle/Resources/public/i/repat.png' %}
                        <img src="{{ "/i/repat.png"|imagine_filter('pozer') }}" class="img-responsive" />
                        {% endimage %}
                    </div>
                {% endif %}
                {% if loop.index0 == 1 %}
                    <div class="bookmark deport">
                        {% image output="/i/deportation.png" '@AppBundle/Resources/public/i/deportation.png' %}
                        <img src="{{ "/i/deportation.png"|imagine_filter('pozer') }}"/>
                        {% endimage %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for i in album.photos %}
            <div class="l {% if tall == 1 %}ltall{% endif %} col-md-1">
                <img src="/{{ i.photo }}" alt="banner" class=""/>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for i in 1947..1958 %}
            <div class="col-sm-1">
                <span class="year">{{ i }}</span>
            </div>

        {% endfor %}
    </div>
    <div class="row">
        {% for i in album.photos %}
            <div class="col-md-1">
                {% if loop.index0 == 9 %}
                    <div class="bookmark rehab">
                        {% image output="/i/rehab.png" '@AppBundle/Resources/public/i/rehab.png' %}
                        <img src="{{ "/i/rehab.png"|imagine_filter('pozer') }}"/>
                        {% endimage %}
                    </div>
                {% endif %}
                {% if loop.index0 == 10 %}
                    <div class="bookmark emigration">
                        {% image output="/i/emigration.png" '@AppBundle/Resources/public/i/emigration.png' %}
                        <img src="{{ "/i/emigration.png"|imagine_filter('pozer') }}"/>
                        {% endimage %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>


</div>