
<!-- PAGINATION -->
<div class="clearfix"></div>
<div class="container pagination-bar no-padding-top text-center">

    {% if pages is defined and pages > 1 %}
        <ul class="pagination">
            {% if page > 1 %}
                {% set params = params|merge({ 'page':  - 1}) %}
                <li><a class="prev" href="{{ path(path, params) }}">&laquo;</a></li>
            {% endif %}
            {% if page > 3 %}
                {% set params = params|merge({ 'page': '1'}) %}
                <li><a href="{{ path(path, params) }}">1</a></li>
                <li><a href="#">...</a></li>
            {% endif %}
            {% for p in 1..pages %}
                {% if loop.index > (page - 3) and loop.index < page + 3 %}
                    {% set params = params|merge({'page': p}) %}
                    <li {% if p == page %}class="active"{% endif %} ><a href="{{ path(path, params) }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page < pages - 3 and pages > 0 %}
                <li><a href="#">...</a></li>
                {% set params = params|merge({'page': pages}) %}
                <li><a href="{{ path(path, params) }}">{{ pages }}</a></li>
            {% endif %}
            {% if pages > page %}
                {% set params = params|merge({ 'page': page + 1}) %}
                <li><a class="next" href="{{ path(path, params) }}">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}

</div>
<div class="clearfix"></div>