{% if app.request.server.get('PATH_TRANSLATED') != "redirect:/app.php/lifestory/all" %}
<a href="{{ path('lifestories') }}">
    <img src="/i/all.jpg" class="img-responsive">
</a>
{% endif %}
<br/>
{% image output="/i/h2button.png" '@AppBundle/Resources/public/i/h2button.png' %}{% endimage %}
{% image output="/i/yourstory.png" '@AppBundle/Resources/public/i/yourstory.png' %}
<a href="{{ path('page', {slug : 'kap'}) }}">
    <img src="{{ asset_url }}" class="img-responsive"/>
</a>
{% endimage %}

<br/>
{{ sidebar.body|raw }}


{% if is_granted('ROLE_EDITOR') %}
    <br/>
    <a class="btn btn-warning" href="{{ path('admin_sidebar_edit', { id : sidebar.id }) }}">edit</a>
{% endif %}
