{% extends '::base.html.twig' %}


{% form_theme form 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block body -%}
    <h1>Album creation</h1>

    {{ form(form) }}

    <hr/>
    <a href="{{ path('admin_album') }}" class="btn btn-default">Back to the list</a>

{% endblock %}
