{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.news{% endtrans %} - {{ i.title }} :: {% endblock %}

{% block body %}

    <section class="news">
        <h1 class="prefix adler"><a href="{{ path('news') }}">{% trans %}menu.news{% endtrans %}</a></h1>
        <br />
        <h3 class="text-uppercase">{{ i.title }}</h3>

        <div class="col-md-10">
            <img src="{{ i.photo|imagine_filter('news') }}" class="img-responsive">
            <div class="date">| {{ i.created|date('d.m.Y') }} |</div>
            <div class="text">
                {{ i.body|raw }}
            </div>
        </div>
        <div class="clearfix"></div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="clearfix">
                <a class="btn btn-primary btn-xs" href="{{ path('admin_news_edit', { id : i.id }) }}">edit</a>
            </div>
        {% endif %}
        <br/>
        <br/>
    </section>

{% endblock %}

{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "news"})) }}
{% endblock %}