{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.news{% endtrans %} :: {% endblock %}

{% block main %}
<div class="container">
<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="row">
    <section class="news">
        <h1 class="prefix adler">{% trans %}menu.news{% endtrans %}</h1>
        <br/>
        
            {% for i in news %}
                <div class="widecolumn col-md-4 articles">
                    {% if i.photo %}
                        <a href="{{ path("anews", { slug: i.slug }) }}">
                            <img src="{{ i.photo|imagine_filter('news_thumb') }}" class="my-responsive"/>
                        </a>
                    {% endif %}
                    <a href="{{ path("anews", { slug: i.slug }) }}">
                        <div class="arrow arrow-red"></div>
                    </a>
                    <h3 class="titling"><a href="{{ path("anews", { slug: i.slug }) }}">{{ i.title }}</a></h3>
                    <div class="meta">| {{ i.created|date("d.m.Y") }} |</div>
                    {% if i.lead|length > 50 %}
                        <div class="text">{{ i.lead|striptags }}</div>
                    {% else %}
                        <div class="text">{{ i.body|slice(0, 125)|striptags }}</div>
                    {% endif %}
                </div>
                {% if loop.index == 3 %}<div class='clearfix'></div>{% endif %}
            {% endfor %}

        {{ render(controller('AppBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    </section>
    </div>
    </div>
</div>
</div>
{% endblock %}

