@font-face {
  font-family: 'Arian AMU';
  src: url('/fonts/arnamu.ttf');
}

html,
body {
  font-family: "Arian AMU", Arial, Verdana, Helvetica;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.current-locale {
    border-bottom: 5px double #f96;
}
.collectionItem {
    list-style-type: square;
    list-style-position: outside;
}
.datepicker { background-color: white; }