{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.articles{% endtrans %} - {{ i.title }} :: {% endblock %}

{% block body %}

    <section class="articles">
        <h1 class="prefix adler"><a href="{{ path('articles') }}">{% trans %}menu.vault.articles{% endtrans %}</a></h1>
        <br />
        <h3 class="titling"><a href="{{ path("article", { slug: i.slug }) }}">{{ i.title }}</a></h3>
        <div class="meta">
            | {{ i.author }} |
        </div>
        <div class="text">
            {% if i.text|length > 100 %}
                {{ i.text|raw }}
            {% else %}
                {{ i.annotation|raw }}
            {% endif %}
        </div>
        {% if i.issuu %}
            <div class="col-md-12">
                <hr/>
                {{ i.issuu |raw }}
            </div>
        {% endif %}
    </section>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="clearfix">
            <a class="btn btn-primary btn-xs" href="{{ path('admin_article_edit', { id : i.id }) }}">edit</a>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "articles"})) }}
{% endblock %}