{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.articles{% endtrans %} :: {% endblock %}
{% block body %}

    <section class="articles">

        <h1 class="prefix adler">{% trans %}menu.vault.articles{% endtrans %}</h1>
        <br />
        {% for i in articles %}
            <div class="col-md-12 articles">

                <h3 class="titling"><a href="{{ path("article", { slug: i.slug }) }}">{{ i.title }}</a></h3>
                <div class=" meta">
                    | {{ i.author }} |
                </div>
                <div class="text">
                    {{ i.annotation|raw }}
                </div>
            </div>
        {% endfor %}

        {{ render(controller('AppBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    </section>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="clearfix">
            <a class="btn btn-primary btn-xs" href="{{ path('admin_article') }}">admin</a>
        </div>
    {% endif %}
{% endblock %}


{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "articles"})) }}
{% endblock %}