{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.books{% endtrans %} :: {% endblock %}

{% block body %}

    <section class="book">

        <h1 class="prefix adler">{% trans %}menu.vault.books{% endtrans %}</h1>
        <br/>

        <div class="row">
        {% for i in books %}
            <div class="col-md-4">
                <div class="book">
                    {% if i.file %}
                        <a href="{{ path("book", { slug: i.slug }) }}">
                            <img src="{{ i.file |imagine_filter('book_cover') }}"
                                 class="img-responsive"/>
                        </a>
                    {% endif %}
                    <div class="prefix">
                        <a href="{{ path("book", { slug: i.slug }) }}">
                            <span class="arrow arrow-red"></span>
                        </a>
                        <h2 class="title text-uppercase">
                            <a href="{{ path("book", { slug: i.slug }) }}">{{ i.title }}</a>
                        </h2>
                        <h6 class="author text-uppercase">
                            {{ i.author }}
                        </h6>
                    </div>
                </div>
            </div>
            {% if loop.index is divisible by(3) %}<div class='clearfix'></div>{% endif %}
        {% endfor %}
        </div>


        {{ render(controller('AppBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}


    </section>

{% endblock %}

{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "books"})) }}
{% endblock %}