{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.books{% endtrans %} - {{ i.title }} :: {% endblock %}

{% block body %}

    <section class="book">
        <div class="prefix ">
        <h1 class="adler"><a href="{{ path('books') }}">{% trans %}menu.vault.books{% endtrans %}</a></h1>
        <br/>


            <div class="col-md-4">
                <img src="{{ i.file|imagine_filter('book_cover_big') }}" class="img-responsive pull-left"/>
            </div>
            <div class="col-md-7 paddingleft10">
                <p class="text "><span class="text-uppercase">{{ i.title }}</span></p>
                {% if i.author %}
                    <p class="text ">{{ i.author }}</p>
                {% endif %}
                {% if i.year %}
                    <p class="text ">{{ i.year }}</p>
                {% endif %}
                {% if i.publishedBy %}
                    <p class="text ">{{ i.publishedBy }}</p>
                {% endif %}
                {% if i.link %}
                    <a target="_blank" class="button" href="{{ i.link }}">{% trans %}buy{% endtrans %}</a>
                {% endif %}
                {% if i.issuu %}
                    <a target="_blank" class="button" data-toggle="modal" data-target="#myModal">{% trans %}read{% endtrans %}</a>
                {% endif %}
                <br/>

                <div class="text prefix">
                    {{ i.annotation|raw }}
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="clearfix col-md-12">
                    <a class="btn btn-primary btn-xs" href="{{ path('admin_book_edit', { id : i.id }) }}">edit</a>
                </div>
            {% endif %}
            {% if i.issuu|length > 10 %}
                <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            {{ i.issuu|raw }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </section>

{% endblock %}

{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "books"})) }}
{% endblock %}