{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.docs{% endtrans %} :: {% endblock %}

{% block body %}

    <section class="documents">

        <h1 class="prefix adler">{% trans %}menu.vault.docs{% endtrans %}</h1>
        <br/>
        <form class="filter" action="{{ path('documents') }}">
            <select name="year">
                <option value=""> --- </option>
                {% for y in years %}
                    <option {% if year == y %}selected="selected"{% endif %} value="{{ y }}">{{ y }}</option>
                {% endfor %}
            </select>
            {#<input name='year' type="number" min="{{ min(years) }}" max="{{ max(years) }}" placeholder="{{ min(years) }} - {{ max(years) }}" value="{{ app.request.get('year') }}">#}
            <input type="submit" value="{% trans %}filter{% endtrans %}"/></form>

        {% for i in documents %}
            <div class="articles col-md-12">

                <h3 class="titling"><a href="{{ path("document", { slug: i.slug }) }}">{{ i.title }}</a></h3>
                <div class="meta">
                    | {% if i.year %}{{ i.year }} | {% endif %}
                    {% if i.topic|length > 0 %}{{ i.topic|join(' | ') }} | {% endif %}
                    {% if i.person|length > 0 %}{{ i.person|join(' | ') }} | {% endif %}
                </div>
                <div class="text">
                    {{ i.annotation|raw }}
                </div>
            </div>
        {% endfor %}

        {{ render(controller('AppBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    </section>

{% endblock %}


{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "documents"})) }}
{% endblock %}