{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.docs{% endtrans %} - {{ i.title }} :: {% endblock %}

{% block body %}

    <section class="documents">

        <h1 class="prefix adler"><a href="{{ path('documents') }}">{% trans %}menu.vault.docs{% endtrans %}</a></h1>
        <br/>
        <div class="articles">
            <h3 class="titling">{{ i.title }}</h3>
            <div class="meta">
                | {% if i.year %}{{ i.year }} | {% endif %}
                {% if i.topic|length > 0 %}{{ i.topic|join(' | ') }} | {% endif %}
                {% if i.person|length > 0 %}{{ i.person|join(' | ') }} | {% endif %}
            </div>

            <div class="text">
                {{ i.annotation|raw }}
            </div>

            {% if i.issuu %}
                <br/>
                <hr/>
                {{ i.issuu|raw }}
            {% endif %}
            {% if i.file %}
                <iframe class="pdfIframe" width="100%" height="500px" src="/{{ i.file }}"></iframe>
            {% endif %}
            <br/>
            {% if i.translation %}
                <div class="text">
                    {{ i.translation|raw }}
                </div>
            {% endif %}
        </div>
        <br/>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="clearfix col-md-12">
                <a class="btn btn-primary btn-xs" href="{{ path('admin_document_edit', { id : i.id }) }}">edit</a>
            </div>
        {% endif %}
    </section>

{% endblock %}

{% block sidebar %}

    {% for t in related %}

    {% endfor %}
    <hr />

    {{ render(controller("AppBundle:Default:sidebar", {'type': "documents"})) }}
{% endblock %}