{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <section class="newspaper">

        <div class="col-md-12">
            <h1 class="prefix adler"><a href="{{ path('newsarchive') }}">Մամուլ</a></h1>
            <br/>
            <form class="filter" action="{{ path('newspaper', { slug: i.slug }) }}">
                <select name="year">
                    <option value=""> {% trans %}year{% endtrans %} </option>
                    {% for y in years %}
                        <option {% if year == y %}selected="selected"{% endif %} value="{{ y }}">{{ y }}</option>
                    {% endfor %}
                </select>
                {#<input name='year' type="number" min="{{ min(years) }}" max="{{ max(years) }}" placeholder="{{ min(years) }} - {{ max(years) }}" value="{{ app.request.get('year') }}">#}
                <input type="submit" value="{% trans %}filter{% endtrans %}"/></form>
            {% for a in articles %}
                <div class="articles">
                    <div class="meta">| {{ a.publicationDate|date('d.m.Y') }} |</div>
                    <h3 class="titling"><a
                                href="{{ path('newsarticle', {'slug': a.slug}) }}">{{ a.title }}</a></h3>
                    <div class="text">{{ a.annotation|raw }}</div>
                </div>
            {% endfor %}

            {{ render(controller('AppBundle:Default:pagination', {
                "page": app.request.get('page'),
                "path": app.request.get('_route'),
                "params": app.request.attributes,
                "query": app.request.query
            } )) }}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="clearfix col-md-12">
                <a class="btn btn-primary btn-xs" href="{{ path('admin_newspaper_edit', { id : i.id }) }}">edit</a>
            </div>
        {% endif %}
    </section>

{% endblock %}

{% block sidebar %}
    {% if i.image %}
        <a href="{{ path("newspaper", { slug: i.slug }) }}">
            <img src="/{{ i.image }}" class="img-responsive"/>
        </a>
    {% endif %}
    <div style="font-size: 8pt; margin-top: 6px; line-height: 11pt;;">{{ i.description|raw }}</div>
    <br/>

    {{ render(controller("AppBundle:Default:sidebar", {'type': 'newspapers'})) }}

{% endblock %}