{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <section class="newspaper">
        <div class="row">

            <h1 class="prefix adler"><a href="{{ path('newsarchive') }}">Մամուլ</a></h1>
            <br/>
            <div class="articles">
                <h3><a href="{{ path("newspaper", { slug: i.newspaper.slug }) }}">{{ i.newspaper }}</a></h3>
                <br/>
                <div class="meta">| {{ i.publicationDate|date('d.m.Y') }} |</div>
                <h3 class="titling">{{ i.title }}</h3>

                <div class="col-md-11">
                    <div class="text">{{ i.annotation|raw }}</div>
                    <br/>
                    {% if i.pdf is defined and i.pdf is not null %}
                    <iframe class="pdfIframe" width="100%" height="600px" src="/{{ i.pdf }}"></iframe>
                    {% endif %}
                </div>
            </div>

        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="clearfix col-md-12">
                <a class="btn btn-primary btn-xs" href="{{ path('admin_newsarticle_edit', { id : i.id }) }}">edit</a>
            </div>
        {% endif %}
    </section>

{% endblock %}

{% block sidebar %}
    {% if i.newspaper.image %}
        <a href="{{ path("newspaper", { slug: i.newspaper.slug }) }}">
            <img src="/{{ i.newspaper.image }}" class="img-responsive"/>
        </a>
        <br/>
    {% endif %}

    {{ render(controller("AppBundle:Default:sidebar", {'type': 'newspapers'})) }}

{% endblock %}
