{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <section class="newsarchive">
        <h1 class="adler prefix">{% trans %}menu.vault.news{% endtrans %}</h1>
        <br/>
        <form class="filter" action="{{ path('newsarchive') }}">
            <select name="location">
                <option value=""> {% trans %}location{% endtrans %} </option>
                {% for l in locations %}
                    <option {% if location == l  %}selected="selected"{% endif %}  value="{{ l }}">{{ l }}</option>
                {% endfor %}
                </select>
            {#<input name='year' type="number" min="{{ min(years) }}" max="{{ max(years) }}" placeholder="{{ min(years) }} - {{ max(years) }}" value="{{ app.request.get('year') }}">#}
            <input type="submit" value="{% trans %}filter{% endtrans %}"/></form>
        {% if newspapers is empty %}
            <br />
            <h3>{% trans %}noresult{% endtrans %}</h3>
        {% else %}
        <div class="grid">
            {% for i in newspapers %}
                <div class="grid-item">

                    <h3><a class=""
                           href="{{ path("newspaper", { slug: i.slug }) }}">{{ i.title|slice(0, 20) }}{% if i.title|length > 20 %}...{% endif %}</a>
                    </h3>

                    <div class="desc">{{ i.description|raw }}</div>

                </div>

            {% endfor %}
        </div>
        <div class="clearfix"></div>
        {{ render(controller('AppBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
        {% endif %}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
    <script>
        $(function () {
            $('.grid').masonry({
                columnWidth: 230,
                itemSelector: '.grid-item'
            });
        });

    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .grid-item {
            padding: 7px 25px;
            width: 230px;
        }
        .grid-item .desc {
            font-size: 8pt;
        }
        .grid-item h3 {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "newspapers"})) }}
{% endblock %}