{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.photo{% endtrans %} - {{ a.title }} :: {% endblock %}

{% block main %}

    <section class="photoarchive">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="adler prefix">
                        <a href="{{ path('photoarchive') }}">
                            {% trans %}menu.vault.photo{% endtrans %}
                        </a>
                    </h1>
                    <br/>
                    <h2 class="title">{{ a.title }}</h2>
                    <br/>
                    <div class="text">
                        {{ a.description|raw }}
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="slider clearfix">
            {% for p in a.photos %}
                <div class="item">
                    <div class="imgcontainer">
                        <img src="/{{ p.photo }}" alt="...">
                    </div>
                    <div class="caption">{{ p.title|raw }}</div>
                </div>
            {% endfor %}
        </div>
    </section>
    <br/><br/>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="clearfix col-md-12">
            <a class="btn btn-primary btn-xs" href="{{ path('admin_album_edit', { id : a.id }) }}">edit</a>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {

            $('.slider').slick({
                dots: true,
                infinite: true,
                autoplay: false,
                speed: 300,
                arrows: true,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true
            });
        });
    </script>

{% endblock %}