{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.photo{% endtrans %} :: {% endblock %}
{% block body %}

    <section class="photoarchive">
        <div class="">
            <h1 class="prefix adler">{% trans %}menu.vault.photo{% endtrans %}</h1>

            <div class="cont">
                {% for i in albums %}
                    <div class="col-md-4">

                        <h3 class="titling">
                            <a href="{{ path("photostory", { slug: i.slug }) }}">{{ i.title }}</a>
                        </h3>
                        <div class="text">
                            <img src="{{ i.photos[0].photo|imagine_filter('lifestory_remarkable') }}" class="img-responsive "/>
                        </div>
                        <div class="text">{{ i.description|raw }}</div>

                    </div>
                    {% if loop.index is divisible by(3) %}<div class='clearfix'></div>{% endif %}
                {% endfor %}
            </div>

            <div class="clearfix"></div>
            {{ render(controller('AppBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
        </div>
    </section>

{% endblock %}
