{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <div class="texts">
        <div class="text column col-md-3">
            <h2 class="prefix">
                <a href="{{ path("newsarchive") }}">Թերթեր</a>
            </h2>
            {% if newspaper %}
                {% if newspaper.image %}
                    <a href="{{ path("newspaper", { slug: newspaper.slug }) }}">
                        <img src="{{ newspaper.image|imagine_filter('news_thumb') }}" class="img-responsive"/>
                    </a>
                {% endif %}

                <h3>{{ newspaper.title }}</h3>
                <div class="text">{{ newspaper.description|raw }}</div>
            {% endif %}
        </div>

        <div class=" text column col-md-3">
            <h2 class="prefix">
                <a href="{{ path("documents") }}">Փաստաթղթեր</a>
            </h2>
            {% if document %}
                {% if document.image %}
                    <a href="{{ path("document", { slug: document.slug }) }}">
                        <img src="{{ document.image|imagine_filter('news_thumb') }}" class="img-responsive"/>
                    </a>
                {% endif %}
                <h3>
                    <a href="{{ path("document", { slug: document.slug }) }}">{{ document.title }}</a>
                </h3>
                <div class="text">
                    {{ document.annotation|raw }}
                </div>
            {% endif %}
        </div>
        <div class=" text column col-md-3">
            <h2 class="prefix">
                <a href="{{ path("articles") }}">Հոդվածներ</a>
            </h2>
            {% if article %}
                <h3>
                    <a href="{{ path("article", { slug: article.slug }) }}">{{ article.title }}</a>
                </h3>
                <div class="text">
                    {{ article.annotation|raw }}
                </div>
            {% endif %}
        </div>
        <div class="text column col-md-3">
            <h2 class="prefix">
                <a href="{{ path("books") }}">Գրքեր</a>
            </h2>
            {% if book %}
                {% if book.image %}
                    <a href="{{ path("book", { slug: book.slug }) }}">
                        <img src="{{ book.image|imagine_filter('news_thumb') }}" class="img-responsive"/>
                    </a>
                {% endif %}

                <h3>
                    <a href="{{ path("book", { slug: book.slug }) }}">{{ book.title }}</a>
                </h3>
                <div class="text">
                    {{ book.annotation|raw }}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- end pricing-tables -->

{% endblock %}
