{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.video{% endtrans %} :: {% endblock %}

{% block body %}

    <section class="videoarchive">
        <h1 class="adler prefix">{% trans %}menu.vault.video{% endtrans %}</h1>
        <br />
        {% for i in videos %}
            <div class="col-md-4 widecolumn">

                <h3 class="titling"><a href="{{ path('video', {'slug': i.slug}) }}">{{ i.title }}</a></h3>
                {% if i.file is not empty %}
                    <div class='embed-container'>
                        <a href="{{ path('video', {'slug': i.slug}) }}">
                            <img src="/{{ i.file }}" class="img-responsive"/>
                        </a>
                    </div>
                {% endif %}

            </div>
            {% if loop.index is divisible by(3) %}<div class='clearfix'></div>{% endif %}
        {% endfor %}

        <div class="clearfix"></div>
        <br />
        <br />
        {{ render(controller('AppBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    </section>

{% endblock %}

{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "video"})) }}
{% endblock %}