{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.vault.video{% endtrans %} - {{ i.title }} :: {% endblock %}

{% block body %}

    <section class="videoarchive">

        <h1 class="adler prefix"><a href="{{ path('videoarchive') }}">{% trans %}menu.vault.video{% endtrans %}</a></h1>
        <br/>
        <div class="col-md-10 col-md-offset-1">
        <h2 class="">{{ i.title }}</h2>
        <div class="text">
            {{ i.description|raw }}
        </div>
        <hr/>
            <div class='embed-container'>
                <iframe src='{{ i.linkToTube }}' frameborder='0' webkitAllowFullScreen
                        mozallowfullscreen
                        allowFullScreen></iframe>
            </div>
        </div>

    </section>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="clearfix col-md-12">
            <a class="btn btn-primary btn-xs" href="{{ path('admin_video_edit', { id : i.id }) }}">edit</a>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "video"})) }}
{% endblock %}