{% extends 'base.html.twig' %}

{% block body -%}
    <h1>User edit</h1>

    {{ form(edit_form) }}

    <br/><br/>
    <ul class="record_actions list-group col-sm-6">
        <li class="list-group-item"><a href="{{ path('admin_user') }}" class="btn btn-default">Back to the list</a></li>
        <li class="list-group-item">{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
