{% extends 'base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <a class="btn btn-success" href="{{ path('admin_user_new') }}"> Create New </a>

    <table class="records_list table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Role</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.roles|join(',') }}</td>
                <td>{{ entity.isActive }}</td>
                <td>
                    <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ render(controller('AdminBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    <hr/>
    <a class="btn btn-success " href="{{ path('admin_user_new') }}"> Create New </a>

{% endblock %}
