{% extends 'base.html.twig' %}

{% block body -%}
    <h1>User creation</h1>

    {{ form(form) }}

    <hr/>
    <a href="{{ path('admin_user') }}" class="btn btn-default">Back to the list</a>

{% endblock %}
