{% extends 'base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties table table-striped table-hover">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Lastvisited At</th>
            <td>{{ entity.lastVisitedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Is Active</th>
            <td>{{ entity.isActive }}</td>
        </tr>
        </tbody>
    </table>


    <br/><br/>
    <ul class="record_actions list-group col-sm-6">
        <li class="list-group-item"><a class="btn btn-warning"
                                       href="{{ path('admin_user_edit', { 'id': entity.id }) }}"> Edit </a></li>
        <li class="list-group-item"><a href="{{ path('admin_user') }}" class="btn btn-default">Back to the list</a></li>
        <li class="list-group-item">{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
