{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Timeline list</h1>

    <a class="btn btn-success" href="{{ path('admin_timeline_new') }}"> Create New </a>

    <table class="records_list table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>
                <th>People Count</th>
                <th>Year From</th>
                <th>Year To</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_timeline_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.peopleCount }}</td>
                <td>{{ entity.yearFrom }}</td>
                <td>{{ entity.yearTo }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.type }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('admin_timeline_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ render(controller('AdminBundle:Default:pagination', {"page": app.request.get('page'), "path": app.request.get('_route')})) }}
    <hr/>
    <a class="btn btn-success" href="{{ path('admin_timeline_new') }}"> Create New </a>

{% endblock %}
