{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <div class="col-md-6">
        <h3 class="heading prefix">{% trans %}exhibition1{% endtrans %}</h3>
        {% image output="/i/exhibition1.jpg" '@AppBundle/Resources/public/i/exhibition1.jpg' %}
        <img src="{{ asset_url }}" class="img-responsive"/>
        {% endimage %}
    </div>
    <div class="col-md-6">
        <h3 class="heading prefix">{% trans %}exhibition2{% endtrans %}</h3>
        {% image output="/i/exhibition2.jpg" '@AppBundle/Resources/public/i/exhibition2.jpg' %}
        <img src="{{ asset_url }}" class="img-responsive"/>
        {% endimage %}
    </div>

{% endblock %}


{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "exhibition"})) }}
{% endblock %}