{% extends 'AppBundle::base.html.twig' %}

{% block banner %}
    {{ render(controller('AppBundle:Default:banner', {"tall":1} )) }}
{% endblock %}

{% block main %}

    {% image output="/i/h2button.png" '@AppBundle/Resources/public/i/h2button.png' %}{% endimage %}
    <section class="homepage">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="text col-md-8">
                            {% if t[0] is defined %}
                                <div class="prefix prefix-narrow long">
                                    {{ t[0].body|raw }}
                                </div>
                            {% endif %}
                            <div class="col-md-6 widecolumn">
                                {% if t[1] is defined %}
                                    <div class="initial">{{ t[1].body|raw }}</div>
                                    <br/>
                                {% endif %}
                                <h2 class="heading">{% trans %}menu.vault.title{% endtrans %}</h2>


                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                                    {% set fff = [t[2], t[21], t[22],t[23],t[24],t[25]] %}
                                    {% for f in fff %}
                                        {% if f.title is defined %}
                                            <div class="panel">
                                                <div class="" role="tab" id="heading{{ f.id }}">
                                                    <div class="">
                                                        <h3 class="prefix" role="button" data-toggle="collapse"
                                                               data-parent="#accordion"
                                                               href="#collapse{{ f.id }}" aria-expanded="true"
                                                               aria-controls="collapse{{ f.id }}">
                                                                {% if f.title %}
                                                                    {{ f.title }}
                                                                {% endif %}
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div id="collapse{{ f.id }}" class="panel-collapse collapse" role="tabpanel"
                                                     aria-labelledby="heading{{ f.id }}">
                                                    <div class="text">
                                                        {{ f.body|raw }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2 class="heading">{% trans %}menu.history{% endtrans %}</h2>
                                {% if t[3] is defined %}
                                    {% if t[3].title %}
                                        <h3 class="prefix">{{ t[3].title }}</h3>
                                    {% endif %}
                                    <div class="text">
                                        {{ t[3].body|raw }}
                                    </div>
                                {% endif %}
                                <h2 class="heading">{% trans %}menu.persecution.title{% endtrans %}</h2>
                                {% if t[4] is defined %}
                                    {% if t[4].title %}
                                        <h3 class="prefix">{{ t[4].title }}</h3>
                                    {% endif %}
                                    <div class="text">
                                        {{ t[4].body|raw }}
                                    </div>
                                {% endif %}
                                <h2 class="heading">{% trans %}menu.mard.title{% endtrans %}</h2>
                                {% if t[5] is defined %}
                                    {% if t[5].title %}
                                        <h3 class="prefix">{{ t[5].title }}</h3>
                                    {% endif %}
                                    <div class="text">
                                        {{ t[5].body|raw }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            {% image output="/i/all.jpg" '@AppBundle/Resources/public/i/all.jpg' %}
                            <a href="{{ path('lifestories') }}">
                                <img src="{{ asset_url }}" class="img-responsive"/>
                            </a>
                            {% endimage %}
                            <br/>
                            {% image output="/i/yourstory.png" '@AppBundle/Resources/public/i/yourstory.png' %}
                            <a href="{{ path('page', {slug : 'kap'}) }}">
                                <img src="{{ asset_url }}" class="img-responsive"/>
                            </a>
                            {% endimage %}
                            {% if t[6] is defined %}
                                <div class="text">
                                    {{ t[6].body|raw }}
                                </div>
                            {% endif %}
                            {% if t[7] is defined %}
                                {% if t[7].title %}
                                    <h3 class="button">{{ t[7].title }}</h3>
                                {% endif %}
                                <div class="text">
                                    {{ t[7].body|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
