{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% if page is not null %}

        <div class="col-md-12 page">
            <h3>{{ page.title }}</h3>

            <div class="text ">
                {{ page.body|raw }}

            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="clearfix">
                <a class="btn btn-primary btn-xs" href="{{ path('admin_page_edit', { id : page.id }) }}">edit</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}


{% block sidebar %}
    {{ render(controller("AppBundle:Default:sidebar", {'type': "page-" ~ page.title })) }}
{% endblock %}