{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <section class="repatriants">

        <h1 class="prefix adler heading br">{% trans %}repatriates{% endtrans %}</h1>
        {% if repats|length == 0 %}
            <h3>{% trans %}search.noresults{% endtrans %}</h3>
        {% else %}

            <table class="table table-hover">
                {% set k = 0 %}
                {% set familyID = -1 %}
                <tr class="headhead">
                    <th width="300">Անուն</th>
                    <th>Ծն.թիվ</th>
                    <th><i class="fa fa-location-arrow"></i></th>
                    <th><i class="fa fa-calendar-check-o"></i></th>
                    <th><i class="fa fa-ship"></i></th>
                    <th><i class="fa fa-map-marker"></i></th>
                </tr>
                {% for family in repats %}

                    {% for r in family %}
                        {% set familyID = r.case %}
                        {% if r.show %}
                            <tr class="">
                                <td>{% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-primary btn-xs" href="{{ path('admin_repatriation_edit', { id : r.id }) }}">edit</a>
                                    {% endif %}
                                    {{ r.lastName }} {{ r.firstName }} {{ r.secondName }} </td>
                                <td>{% if r.birthYear > 0 %}{{ r.birthYear }}{% endif %}</td>
                                <td>{{ r.fromCountry }}{% if r.fromCity %}, {{ r.fromCity }}{% endif %}</td>
                                <td>{% if r.inYear > 0 %}{{ r.inYear }}{% endif %}</td>
                                <td>{{ r.ship }}&nbsp;</td>
                                <td>{{ r.toPlace }}&nbsp;</td>
                            </tr>
                        {% else %}

                            {% set k = k + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if k > 0 %}
                        {% for r in family %}
                            {% if not r.show %}
                                <tr class="collapse collapse{{ familyID }}">
                                    <td>{% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-primary btn-xs" href="{{ path('admin_repatriation_edit', { id : r.id }) }}">edit</a>
                                        {% endif %}
                                        {{ r.lastName }} {{ r.firstName }} {{ r.secondName }} </td>
                                    <td>{% if r.birthYear > 0 %}{{ r.birthYear }}{% endif %}</td>
                                    <td>{{ r.fromCountry }}{% if r.fromCity %}, {{ r.fromCity }}{% endif %}</td>
                                    <td>{% if r.inYear > 0 %}{{ r.inYear }}{% endif %}</td>
                                    <td>{{ r.ship }}&nbsp;</td>
                                    <td>{{ r.toPlace }}&nbsp;</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="6">
                                <a class="" type="button" data-toggle="collapse"
                                   data-target=".collapse{{ familyID }}" aria-expanded="false"
                                   aria-controls="collapseExample">
                                    +{{ k }} <i class="switch fa fa-arrow-circle-down"></i>
                                </a>
                            </td>
                        </tr>
                        {% set k = 0 %}
                    {% endif %}
                    <tr>
                        <td colspan="6">
                        </td>
                    </tr>
                {% endfor %}

            </table>

        {% endif %}

    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

        .headhead th i {
            font-size: 16pt;;
        }
    </style>
{% endblock %}