{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Book creation</h1>

    {{ form(form) }}

    <hr/>
    <a href="{{ path('admin_book') }}" class="btn btn-default">Back to the list</a>

{% endblock %}
